<%= link_to 'Administration', topics_path %>

<ul id="nav">
  <% @topics.each do |topic| %>
    <%= content_tag :li, class: (topic == @topic ? 'active' : nil) do %>
      <%= link_to topic.name, topic_questions_path(topic) %>
    <% end %>
  <% end %>
</ul>

<% @questions.each do |question| %>
  <div class="question">
    <form>
      <h1><%== question.name %></h1>
      <ol>
        <% question.answers.each do |answer| %>
          <li>
            <input
              id="answer_<%= answer.id %>"
              name="question_1"
              type="<%= question.answers.correct.count > 1 ? 'checkbox' : 'radio' %>">
            <label class="<%= answer.is_correct ? 'correct' : 'incorrect' %>" for="answer_<%= answer.id %>">
              <%== answer.name %>
            </label>
          </li>
        <% end %>
      </ol>
      <% if not question.information.blank? %>
        <a href="#" data-information="<%= question.information %>">
          L&aelig;s mere
        </a>
      <% end %>
      <input type="submit" value="Svar" title="V&aelig;lg svar f&oslash;rst">
    </form>
  </div>
<% end %>

