<h1>Listing topics</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Questions</th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.name, edit_topic_path(topic), title: 'Edit topic' %> (<%= link_to 'Show', topic_questions_path(topic) %>)</td>
    <td>
      <%= link_to 'New question ...', new_topic_question_path(topic) %><br>
      <% topic.questions.each do |question| %>
        <%= link_to question.name, edit_topic_question_path(topic, question), title: 'Edit question' %>
        (<%= link_to 'Delete', topic_question_path(topic, question), confirm: 'Are you sure you want to delete this question?', method: :delete %>)<br>
      <% end %>
      <!--
      <%= link_to "#{topic.questions.count} questions", topic_questions_path(topic), html: { title: 'Edit question' } %>
      (<%= link_to 'Add', new_topic_question_path(topic) %>)
      -->
    </td>
    <td>
      <%= link_to 'Delete', topic, confirm: 'Are you sure you want to delete this topic?', method: :delete %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
