<!DOCTYPE html>
<html>
<head>
  <title>Prototype2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= content_tag :p, flash.notice, id: 'notice' if flash.notice %>

</body>
</html>
